.about-me-section {
  width: auto;
  height: 850px; /* Altura de la sección */
  background-image: url("../../../public/about-me.svg");
  background-size: cover; /* Hace que la imagen cubra todo el área */
  background-position: center; /* Centra la imagen */
  padding: 5% 15% 5% 15%;
  overflow: hidden;
}

.about-me-icon{
    height: 71px;
    width: 72px;
    margin-left: 10%;
}
