

.container-component {
  padding: 5% 10%;
  position: relative;
  width: 100%;
  height: 100%;
  width: fit-content;
  max-width: 500px;
  max-height: 650px;
  background-color: #7795FF;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 0px 10px #42445a;
  
    .corner {
      width: 15px;
      height: 15px;
      background-color: white;
      border: 3px solid black;
      position: absolute;
    }
  
    .top-left {
      top: -9px;
      left: -9px; 
    }
  
    .top-right {
      top: -9px;
      right: -9px;
    }
  
    .bottom-left {
      bottom: -9px;
      left: -9px;
    }
  
    .bottom-right {
      bottom: -9px;
      right: -9px;
    }
  }
  