.home-section {
  width: auto;
  height: 100vh;
  // background-image: url("../../../public/welcome.svg");
  background-size: cover; /* Hace que la imagen cubra todo el área */
  background-position: center; /* Centra la imagen */
  padding: 0;
  margin: 0;
}
.home-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: -webkit-fill-available;
}
.image-container {
  .logo-pao-design {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }
  .welcome-title {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }
  .welcome-tag {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }
}

h1 {
  font-size: large;
}

@media (max-width: 600px) {
  .home-section-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: -webkit-fill-available;
    margin-top: 20%;
  }

  .image-container {
    .logo-pao-design {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 100px;
    }
    .welcome-title {
      width: 350px;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      margin-bottom: 20px;
    }
    .welcome-tag {
      margin-left: auto;
      margin-right: auto;
      max-width: 300px;
    }
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .image-container {
    .logo-pao-design {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 100px;
    }
    .welcome-title {
      width: 350px;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      margin-bottom: 20px;
    }
    .welcome-tag {
      margin-left: auto;
      margin-right: auto;
      max-width: 300px;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
}
