a{
  text-decoration: none;
}
.icon-button {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9747ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.icon-button:hover {
  background-color: #7a3ac9;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.button-text {
  font-size: 16px;
  font-weight: bold;
}
