@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');

#cv-section {
  height: 100vh;
  padding: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cv-section-container {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr 1.9fr 0.1fr;
  grid-template-rows: auto auto auto auto;
  gap: 2em 2em;
  grid-auto-flow: row dense;
  grid-template-areas:
      "cv-title-section-container cv-title-section-container . ."
      ". cv-text-box-container cv-text-box-container ."
      ". cv-image-container cv-skills-container ."
      ". . . .";
  width: 100%;
}

.cv-title-section-container {
  grid-area: cv-title-section-container;
  width: 100%; /* Ensure full width */
  justify-content: center;
  align-items: center;
}

.cv-image-container {
  grid-area: cv-image-container;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center;
  align-items: center;
  position: relative;
  top: 3rem;
}
.cv-envelope-container{
  position: relative;
  top: 3rem;
}
.cv-balloon-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.cv-ballon-1, .cv-balloon-2, .cv-envelope-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-text-box-container {
  grid-area: cv-text-box-container;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 3rem;
}

.cv-skills-container {
  grid-area: cv-skills-container;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure proper positioning of mobile image */
  top: 3rem;
}

.cv-skills {
  display: block; /* Default display for larger screens */
}

.cv-skills-mobile {
  display: none; /* Hide by default */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .cv-section-container {
    grid-template-columns: 1fr;
    grid-template-areas:
        "cv-title-section-container"
        "cv-image-container"
        "cv-text-box-container"
        "cv-skills-container";
  }

  .cv-balloon-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .cv-envelope-container{
    height: 250px;
    width: auto;
    margin: 2rem;
  }
  .cv-text-box-container{
    margin-top: 2rem;
  }

  .cv-skills {
    display: none; /* Hide the desktop version on small screens */
  }

  .cv-skills-mobile {
    display: block; /* Show the mobile version on small screens */
  }
}
