#contact-section {
  height: 100vh;
  padding: 0 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-section-container {
  height: auto;
  display: grid;
  grid-template-columns: 0.2fr 1.8fr 1.9fr 0.1fr;
  grid-template-rows: 0.6fr 1.3fr 2.2fr 0.4fr;
  gap: 2em 2em;
  grid-auto-flow: row dense;
  grid-template-areas:
    "contact-title-section-container contact-title-section-container . ."
    ". contact-text-box-container contact-phone-container ."
    ". contact-sticker-container contact-phone-container ."
    ". . . .";

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "contact-title-section-container"
      "contact-phone-container"
      "contact-sticker-container";

    .contact-text-box-container {
      display: none;
    }
  }

  @media (max-width: 600px) {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "contact-title-section-container"
      "contact-phone-container"
      "contact-sticker-container";

    .contact-text-box-container {
      display: none;
    }
    .contact-sticker-container {
      margin-top: 2rem;
    }
  }
}

.contact-text-box-container,
.contact-phone-container,
.contact-sticker-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-title-section-container {
  grid-area: contact-title-section-container;
}

.contact-text-box-container {
  grid-area: contact-text-box-container;
}

.contact-phone-container {
  grid-area: contact-phone-container;
}

.contact-sticker-container {
  grid-area: contact-sticker-container;
}
