.contact-section {
  width: auto;
  height: fit-content;
  // background-image: url("../../../public/background-contact-section.svg");
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  padding: 5%;

}

.contact-section-container {
 
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  box-sizing: border-box;
}



  // @media (max-width: 768px) {
  //   .section-title-container  {
  //     height: 70px; 
   
  
  // }

  // .contact-me-icon {
  //   width: 46px;
  //   margin-left: 10%;

  // }
  // .about-me-title{
  //   font-size: 30px;
  // }
  // }

