.home-section {
  width: 100%;
  height: 100vh; /* Altura de la sección */
  background-image: url('../../../public/welome.svg');
  background-size: cover; /* Hace que la imagen cubra todo el área */
  background-position: center; /* Centra la imagen */
}

h1 {
  font-size: large;
}
