.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
  }
  
  .carousel-item {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .prev {
    background-image: url(/public/carousel-button-left.svg);
    background-size:cover ;
    height: 60px;
    width: 60px;
    left: 10px;
  }
  
  .next {
    background-image: url(/public/carousel-button-right.svg);
    background-size:cover ;
    height: 60px;
    width: 60px;
    right: 10px;
  }
  