html {
  scroll-behavior: smooth;
}

.App {
  position: relative;
  min-height: fit-content;
}

section {
  min-height: 100vh;
}

.sidebar-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
}

.nav-button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

.nav-icon {
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
}

h1 {
  font-size: 48px;
  color: #ffff;
}

.doodle {
  position: absolute;
}

.doodle1 {
}
.doodle2 {
  display: flex;
  left: 70%;
}
.doodle3 {
  display: flex;
  top: 13%;
  left: 75%;
}
.doodle4 {
  display: flex;
  top: 30%;
  left: -25%;
  transform: scale(1.2);}
.doodle5 {
  display: flex;
  top: 33%;
  left: 65%;
  transform: scale(1.1);}
.doodle6 {
  display: none;
}
.doodle7 {
  display: flex;
  top: 89%;
  z-index: 3;
}