.project-container {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .project-header {
    max-width: 600px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: center;
  }
  
  .project-button {
    max-width: 300px;
    border: solid 3px black;
    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .project-description {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #FFFCFC;
    border-radius: 5px;
    text-align: left;
  }
  
  .project-icons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  
  .project-icon {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 5px;
  }
  
  .project-images {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .project-image {
    width: 100%;
    max-width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  