/* .project-container {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .project-header {
    max-width: 600px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: center;
  }
  
  .project-button {
    max-width: 300px;
    border: solid 3px black;
    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .project-description {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #FFFCFC;
    border-radius: 5px;
    text-align: left;
  }
  
  .project-icons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  
  .project-icon {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 5px;
  }
  
  .project-images {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .project-image {
    width: 100%;
    max-width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
   */
   .project-container {    
    display: grid;
    grid-template-columns: .2fr 1.8fr 1.8fr .2fr;
    grid-template-rows: 0.5fr 1.5fr 1.3fr 0fr;
    gap: 1rem;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . ."
        ". top-section-projects top-section-projects ."
        ". bottom-section-projects bottom-section-projects ."
        ". . . .";
  }
  
  .top-section-projects { grid-area: top-section-projects; }
  
  .bottom-section-projects { grid-area: bottom-section-projects; }
  
  
  .top-section-projects{
    max-height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

 
  .bottom-section-projects {
    
    max-height: 300px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
 
  
  .project-header {
    max-width: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    text-align: left;
    margin-top: auto;
  }
  
  .project-button {
     max-width: 300px;
    border: solid 3px black;
    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .project-description {
    font-size: 20px;
    border: 1px solid #ddd;
    text-align: left;
    background-color: #FAFAF5;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, .5);
    margin-bottom: 16px;
  }
  
  .project-icons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }

  .project-images{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }
  .project-image,
  .project-icon {
    width: 100%;
    max-width: 200px;
    height: 150px;
    object-fit: cover;
  }
  

  @media (max-width: 600px){
    .project-images{
      display: none;
      flex-direction: row;
      align-items: baseline;
    }
    .bottom-section-projects {
      max-height: 425px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
  }
  }

